<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snet</title>
  <!-- Add Bootstrap CSS link -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-5">Error!</h1>
    <p class="alert alert-danger">{{error}}</p>
    <a href="/" class="btn btn-info">Back To The Form</a>
  </div>

  <!-- Add Bootstrap JS and Popper.js scripts (optional) -->
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
